<div class="container">

    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="loginForm">

      <h2 class="form-signin-heading">Please sign in</h2>

      <label for="inputUsername" class="sr-only">Username</label>
      <input type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <!-- <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>

    </form>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  </div> <!-- /container -->

<!-- <div class="login col-sm-6 col-md-4 col-md-offset-4">

  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="loginForm">
    <h2 class="login-heading">Login</h2>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <input id="username" class="form-control" [formControl]="loginForm.controls.username" name="username" type="text" placeholder="Username"/>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
        <input id="password" class="form-control" [formControl]="loginForm.controls.password" name="password" type="password"  placeholder="Password"/>
      </div>
    </div>

    <input type="submit" class="btn btn-large btn-primary" value="Sign In" [disabled]="!loginForm.valid">
  </form>

</div> -->
